.port_con {
    max-width: 1170px;
    height   : 900px;
    margin   : 0 auto;
    overflow : hidden;

    & .port_title {
        text-align : center;
        margin-top : 45px;
        font-size  : 32px;
        font-weight: 700;
    }

    & .port_list {
        display              : grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items        : center;

        & .port_item {
            margin-top: 60px;

            & img {
                width        : 300px;
                height       : 300px;
                border-radius: 20px;
                object-fit   : cover;
            }

            & p {
                font-size  : 16px;
                font-weight: 700;
                margin     : 10px 0;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .port_con {
        height: auto;
        margin: 30px 0;

        & .port_list {
            grid-template-columns: 1fr;

            & .port_item {
                width: 100%;
                padding: 20px;

                & img {
                    width: 100%;
                }
            }
        }
    }

}